<?xml version="1.0" encoding="UTF-8"?>
<web-app>


<servlet>
<servlet-name>UserDelOrder</servlet-name>
<servlet-class>controller.UserDelOrder</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserDelOrder</servlet-name>
<url-pattern>/UserDelOrder</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>UserGetMyOrder</servlet-name>
<servlet-class>controller.UserGetMyOrder</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserGetMyOrder</servlet-name>
<url-pattern>/UserGetMyOrder</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>getUser</servlet-name>
<servlet-class>controller.getUser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getUser</servlet-name>
<url-pattern>/getUser</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>getOneBook</servlet-name>
<servlet-class>controller.getOneBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getOneBook</servlet-name>
<url-pattern>/getOneBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>getAllPicture</servlet-name>
<servlet-class>controller.getAllPicture</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getAllPicture</servlet-name>
<url-pattern>/getAllPicture</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>getBook</servlet-name>
<servlet-class>controller.getBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getBook</servlet-name>
<url-pattern>/getBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>getPicture</servlet-name>
<servlet-class>controller.getPicture</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getPicture</servlet-name>
<url-pattern>/getPicture</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>getRecruit</servlet-name>
<servlet-class>controller.getRecruit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>getRecruit</servlet-name>
<url-pattern>/getRecruit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>controller.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>controller.Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>savePicture</servlet-name>
<servlet-class>controller.savePicture</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>savePicture</servlet-name>
<url-pattern>/savePicture</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserDelBook</servlet-name>
<servlet-class>controller.UserDelBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserDelBook</servlet-name>
<url-pattern>/UserDelBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserDelRecruit</servlet-name>
<servlet-class>controller.UserDelRecruit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserDelRecruit</servlet-name>
<url-pattern>/UserDelRecruit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserGetMyBook</servlet-name>
<servlet-class>controller.UserGetMyBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserGetMyBook</servlet-name>
<url-pattern>/UserGetMyBook</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserGetMyRecruit</servlet-name>
<servlet-class>controller.UserGetMyRecruit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserGetMyRecruit</servlet-name>
<url-pattern>/UserGetMyRecruit</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserModifyInformation</servlet-name>
<servlet-class>controller.UserModifyInformation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserModifyInformation</servlet-name>
<url-pattern>/UserModifyInformation</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserOrderBook</servlet-name>
<servlet-class>controller.UserOrderBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserOrderBook</servlet-name>
<url-pattern>/UserOrderBook</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserQueryBookByName</servlet-name>
<servlet-class>controller.UserQueryBookByName</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserQueryBookByName</servlet-name>
<url-pattern>/UserQueryBookByName</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>UserQueryBookByType</servlet-name>
<servlet-class>controller.UserQueryBookByType</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserQueryBookByType</servlet-name>
<url-pattern>/UserQueryBookByType</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserReleaseRecruit</servlet-name>
<servlet-class>controller.UserReleaseRecruit</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserReleaseRecruit</servlet-name>
<url-pattern>/UserReleaseRecruit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserSellBook</servlet-name>
<servlet-class>controller.UserSellBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserSellBook</servlet-name>
<url-pattern>/UserSellBook</url-pattern>
</servlet-mapping>

</web-app>